<div class="hide-on-small-only">
<ul class="center-align real-nav z-depth-4">
<li><a href="/about"><img src="img/menu.png" alt="ubuntu menu" class="z-depth-2 item navhov tooltipped"data-position="right" data-delay="50" data-tooltip="About"></a></li>
<li><a href="/projects"><img src="img/projecticon.png" alt="projects icon" class="z-depth-2 item navhov tooltipped" data-position="right" data-delay="10" data-tooltip="Projects"></a></li>
<li><a href="/contact"><img src="img/mailicon.png" alt="projects icon" class="z-depth-2 item navhov tooltipped" data-position="right" data-delay="10" data-tooltip="Contact"></a></li>
<li><a target="_blank" href="https://drive.google.com/open?id=0BwECiHTIPZZEY25MN1lLQVFsY2M"><img src="img/pageicon.png" alt="projects icon" class="z-depth-2 item navhov tooltipped" data-position="right" data-delay="50" data-tooltip="Resume" download></a></li>
</ul>
</div>

<ul id="slide-out" class="side-nav hide-on-med-and-up mini-nav">
	<li><a href="/about" class="white-text">About</a></li>
	<li><a href="/projects" class="white-text">Projects</a></li>
	<li><a href="/contact" class="white-text">Contact</a></li>
	<li><a target="_blank" href="https://drive.google.com/open?id=0BwECiHTIPZZEY25MN1lLQVFsY2M" class="white-text">Resume</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons hide-on-med-and-up white-text">menu</i></a>

