<div class="hide-on-small-only">
<ul class="center-align real-nav z-depth-3">
<li><a href="/about"><img src="img/menu.png" alt="ubuntu menu" class="z-depth-2 item navhov tooltipped"data-position="right" data-delay="50" data-tooltip="About"></a></li>
<li><a href="/projects"><img src="img/projecticon.png" alt="projects icon" class="z-depth-2 item navhov tooltipped" data-position="right" data-delay="50" data-tooltip="Projects"></a></li>
<li><a target="_blank" href="https://drive.google.com/open?id=0BwECiHTIPZZEY25MN1lLQVFsY2M"><img src="img/pageicon.png" alt="projects icon" class="z-depth-2 item navhov tooltipped"data-position="right" data-delay="50" data-tooltip="Resume"></a></li>
<li><a href="/contact"><img src="img/mailicon.png" alt="projects icon" class="z-depth-2 item navhov tooltipped" data-position="right" data-delay="50" data-tooltip="Contact"></a></li>
</ul>
</div>


