<div class="hide-on-small-only">
<ul style="background-color:#3e0839; position:fixed; top:0;padding-top:1em;height:100%; width:4em; z-index: 99;" class="center-align">
<li><a href="/about"><img src="img/menu.png" alt="ubuntu menu" class="z-depth-2 item navhov"></a></li>
<li><a href="/projects"class="z-depth-2 item navhov">Projects</a></li>
<li><a href=""class="z-depth-2 item navhov">Resume</a></li>
<li><a href="/contact"class="z-depth-2 item navhov">Contact</a></li>
</ul>
</div>


