<!-- <div class="center pad">
   <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="row">
          <div class="col s12">
              <div class="row about-box animated fadeIn">
                  <h3 class="aboutalign">About Me</h3>
                <div class="col l6 m12 s12 about-pic valign hide-on-small-only">
			<img src="img/photo.jpg" alt="profile image" class="circle responsive-img">
	    	   </div>
           	   <div class="col l6 m12 s12 about-txt about-space">
			I'm Washington born and raised, but have always done my best to broaden my horizons and understand the world around me. My goal as a web developer is to constantly stay on the path to improvement both for myself and my projects. I thrive on consistently learning new skills, building new projects, and working to repair issues both known and unknown.
                  <p class="car-box">
                   <div class="carousel  center-align">
                   <h5 class="skill">SKILLS</h5>
                      <a class="carousel-item" href="#one!"><img src="img/angular.png" class="item-item">AngularJs</a>
                      <a class="carousel-item" href="#two!"><img src="img/css.png" class="item-item">CSS</a>
                      <a class="carousel-item" href="#three!"><img src="img/html.png" class="item-item">HTML5</a>
                      <a class="carousel-item" href="#four!"><img src="img/js.png" class="item-item">Javascript</a>
                      <a class="carousel-item" href="#five!"><img src="img/node.png" class="item-item">NodeJs</a>
                      <a class="carousel-item" href="#six!"><img src="img/mongodb.png" class="item-item">MongoDB</a>
                      <a class="carousel-item" href="#seven!"><img src="img/sql.png" class="item-item">SQL</a>
                      <a class="carousel-item" href="#eight!"><img src="img/pgadmin.png" class="item-item">PostgreSQL</a>
                      <a class="carousel-item" href="#nine!"><img src="img/rails.png" class="item-item">Ruby on Rails</a>
                      <a class="carousel-item" href="#ten!"><img src="img/jquery.png" class="item-item">jQuery</a>
                    </div>
                  </p>
		  </div>
	    </div>
	</div>
   </div>
</div>
</div>
</div>

 -->
 <div class="about-container animated fadeIn">
  <div class="profile-container">
    <div class="profile-img-container">
      <img src="img/photo.jpg" alt="" role="presentation" class="profile-img">
    </div>
    <div class="profile-info">
      <p>I'm Washington born and raised, but have always done my best to broaden my horizons and understand the world around me. My goal as a web developer is to constantly stay on the path to improvement both for myself and my projects. I thrive on consistently learning new skills, building new projects, and working to repair issues both known and unknown.</p>
    </div>
  </div>
  <div class="skills-container">
    <h1 class="skills-header">Skills</h1>
    <div class="skills-list">
      <ul>
        <li><div class="icon-container"><img src="img/html.png" class="skills-item" alt=""></div>HTML5</li>
        <li><div class="icon-container"><img src="img/css.png" class="skills-item" alt=""></div>CSS3</li>
        <li><div class="icon-container"><img src="img/sass.png" class="skills-item" alt=""></div>SASS</li>
        <li><div class="icon-container"><img src="img/less.png" class="skills-item" alt=""></div>LESS</li>
        <li><div class="icon-container"><img src="img/angular.png" class="skills-item" alt=""></div>AngularJS</li>
        <li><div class="icon-container"><img src="img/react.png" class="skills-item" alt=""></div>ReactJS</li>
        <li><div class="icon-container"><img src="img/js.png" class="skills-item" alt=""></div>Javascript</li>
        <li><div class="icon-container"><img src="img/jquery.png" class="skills-item" alt=""></div>jQuery</li>
        <li><div class="icon-container php-icon"><img src="img/php.png" class="skills-item" alt=""></div>PHP</li>
        <li><div class="icon-container"><img src="img/wordpress.png" class="skills-item" alt=""></div>Wordpress</li>
        <li><div class="icon-container"><img src="img/node.png" class="skills-item" alt=""></div>NodeJS</li>
        <li><div class="icon-container"><img src="img/sql.png" class="skills-item" alt=""></div>SQL</li>
      </ul>
    </div>
  </div>
</div>