<div class="center pad">
   <div class="row">
      <div class="col s12 m6 offset-m3">
          <div class="row">
              <div class="col s12 box">
			about
		</div>
	    </div>
	</div>
   </div>
</div>
