<div class="center pad">
   <div class="row">
      <div class="col s12 m6 offset-m3 about-box">
      			<h3>Contact Me!</h3>
          <div class="row contact-list">
              <div class="col m4 s12">
                <a href="mailto:celgutierrez42@gmail.com">
			<img src="img/mailicon.png" alt="gmail" class="contact-item">
		    </a>
		</div>
		  <div class="col m4 s12">
		    <a target="__blank" href="https://www.linkedin.com/in/celina-gutierrez/">
			<img src="img/linkedin.png" alt="linkedin" class="contact-item">
		    </a>
		</div>
		  <div class="col m4 s12">
		    <a target="__blank" href="https://github.com/celgutierrez">
			<img src="img/github.png" alt="github" class="contact-item">
		    </a>
		</div>
	    </div>
	</div>
   </div>
</div>
