<div class="pad">
   <div class="row">
      <div class="col s12 m6 offset-m3">
          <div class="col s12 sublime">
		    <div class="sub-nav grey darken-3">
		    	Sublime Text
		    </div>
	    	  <div class="row">
		    <div class="grey lighten-3 col s12 m4 l3">
			<p class="black-text left subl-file">
			<span class="marked">x </span> celina.html
			</p>
		    </div>
		    <div class="grey darken-4 col s12 m8 l9">
		    <p class="left">
		    	<h5>
		    	  <ol>
		    		<li class="com-out"><-- Celina Gutierrez</li>
		    		<li class="com-out">Front End Web Developer --></li>
		    		<li>< DOCTYPE html></li>
		    		<li>< html tag=en></li>
		    		<li>< head></li>
		    		<li>< meta charset=UTF-8></li>
		    	  </ol>
		    	</h5>
		    </p>
	        </div>
		</div>
	     </div>
	   </div>
	</div>
   </div>
</div>
