<div class="center pad">
   <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="row home-box animated fadeInDown">
          <div class="col s12 left">
            <h3>Celina Gutierrez</h3>
            <h6><span class="type"></span></h6>
          </div>
        </div>
        <div id="enter" class="col s12 animated fadeIn">
          Don't know where to start?
          <br><a class="btn grey darken-4 waves-effect waves-light" href="/about">try here</a>
        </div>
      </div>
    </div>
</div>
