<div class="center pad">
   <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="row about-box animated fadeInDown">
          <div class="col s12 left">
            <h3>Celina Gutierrez</h3>
            <h5><span class="type"></span></h5>
	</div>
   </div>
</div>
</div>
</div>
