<div id="home" class="home-container">
  <div class="home">
    <div class="home-item greetings">
      <h1>Hi!</h1>
    </div>
    <div class="home-item small-intro">
      <br>I'm Celina,
      <br>and I'm a full stack web developer
      <br>(and front-end wordpress wiz)
    </div>
  </div>
  <div class="home-scroll-btn">
    <div class="home-item pagescroll">
      <a href="/projects" class="scroll-btn">DOWN</a>
    </div>
  </div>
</div>