<div class="container">
<div class="sub-nav grey darken-3">Sublime Text</div>
<div class="row">
<div class="grey lighten-3 col s12 m4 l3">left</div>
<div class="grey darken-4 col s12 m8 l9">
right</div>
</div>
</div>
