<div class="center pad">
   <div class="row">
      <div class="col s12 m6 offset-m3">
          <div class="col s12">
		    <div class="sub-nav grey darken-3">
		    	Sublime Text
		    </div>
	    	  <div class="row">
		    <div class="grey lighten-3 col s12 m4 l3 left-col">
			<p class="black-text left subl-file">
			<span class="marked">x </span> celina.html
			</p>
		    </div>
		    <div class="grey darken-4 col s12 m8 l9">
		    <p class="left element">
			test out typed
			</p>
	        </div>
		</div>
	     </div>
	   </div>
	</div>
   </div>
</div>
