<div class="center pad">
  <div class="row">
    <div class="col s12 m6 offset-m3">
          <div class="row">
              <div class="col s12 about-box animated fadeIn">
              <div class="row contact-list">
                <div class="col m6 s12">
                  <img src="../img/beehelpful.png" class="bee responsive-img hide-on-small-only" alt="BeeHelpful screenshot">
                </div>
                <div class="col m6 s12">
                  <p class="title">BeeHelpful</p>
                  <p class="desc hide-on-med-only">Website modeled after Barkbox and LootCrate and concept inspired by the addition of a species of bumblebee to the U.S. endangered species list as well as the constant depletion of the environment, the user is able to subscribe to a monthly delivery of a box of randomized plant seeds that are native to their county.
                  </p>
                  <p class="language"><b>Tech used:</b> Express/Node.Js, PostgreSQL, HTML, CSS, Bootstrap, APIs: Facebook, USDA Plant Database</p>
                  <p>
                  <a href="https://beehelpful.herokuapp.com" class="web tooltipped" data-position="bottom" data-delay="10" data-tooltip="Live"><i class="material-icons">language</i></a>
                    <a href="https://github.com/celgutierrez/u2-project/" class="web tooltipped" data-position="bottom" data-delay="10" data-tooltip="Github"><i class="material-icons">info_outline</i></a>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col m6 s12">
                  <p class="title">partnersInCode</p>
                  <p class="desc hide-on-med-only">
                  Group project: Designed to primarily be for mobile users, partnersInCode is for web developers to potentially find other developers to partner with on projects to build their portfolio or otherwise. The app is modeled after the Tinder swipe functionality.
                  </p>
                  <p class="language"><b>Tech used:</b> MEAN stack(MongoDB, ExpressJs, AngularJs, NodeJs), AngularMaterialize, HTML, CSS</p>
                      <p>
                        <a href="https://partnersincode.herokuapp.com" class="web tooltipped" data-position="bottom" data-delay="10" data-tooltip="Live"><i class="material-icons">language</i></a>
                        <a href="https://github.com/celgutierrez/DevCollab/" class="web tooltipped" data-position="bottom" data-delay="10" data-tooltip="Github">
                        <i class="material-icons">info_outline</i>
                        </a>
                    </p>
                  </div>
                <div class="col m6 s12">
                  <img src="../img/partnersincode.png" class="bee responsive-img hide-on-small-only" alt="partnersInCode screenshot">
                </div>
              </div>
            <div class="row contact-list">
                <div class="col m6 s12">
                  <img src="../img/lambdalounge.png" class="bee responsive-img hide-on-small-only" alt="Lambda Lounge screenshot">
                </div>
                <div class="col m6 s12">
                  <p class="title">Lambda Lounge</p>
                  <p class="desc hide-on-med-only">Individual project, focusing entirely on front end design and development without using any prebuilt frameworks (i.e. Materialize, Bootstrap, etc.). Goal of the project was to do a complete redesign and update of an existing website for a nightclub that currently utilizes outdated methods and design. Researched website designs and layouts of over 50 nightclubs and bars from Seattle, Los Angeles, and New York City to implement a more current composition.
                  </p>
                  <p class="language"><b>Tech used:</b> HTML, CSS, jQuery, AngularJs, minor NodeJs and Express</p>
                  <p>
                  <a href="https://lambda-lounge.herokuapp.com" class="web tooltipped" data-position="bottom" data-delay="10" data-tooltip="Live"><i class="material-icons">language</i></a>

                    <a href="https://github.com/celgutierrez/thebar/" class="web tooltipped" data-position="bottom" data-delay="10" data-tooltip="Github"><i class="material-icons">info_outline</i></a>
                  </p>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>
</div>
