<div class="pad linux-window animated fadeIn">
  <div class="linux-details">
    <span class="linux-false-btn linux-orange"></span>
    <span class="linux-false-btn linux-grey"></span>
    <span class="linux-false-btn linux-grey"></span>
  </div>
  <div class="linux-content">
  <div class="project-showcase">
    <img src="img/westmark.webp" class="project-desktop" role="presentation" alt="">
      <div class="project-blurb">
        <h2>Westmark Hotels</h2>
        <p>
          Led the frontend development for this website, implementing updates to WordPress/PHP templates, including 
          the creation of new templates, components, and additional features. Managed day-to-day WordPress CMS content 
          updates, while also conducting SEO audits and site speed analyses focused on front-end optimization. Improved 
          the WordPress dashboard to streamline the backend user experience for clients, incorporating feedback gathered 
          through client screenings.
        </p>
        <div class="lang-sec">
          <h3>Languages used:</h3>
          <span class="blurb-lang">
            HTML, CSS/SASS, JAVASCRIPT, PHP, WORDPRESS
          </span>
        </div>
      </div>
    </div>
    <div class="project-showcase">
      <img src="img/enercare.webp" class="project-desktop" role="presentation" alt="">
      <div class="project-blurb">
        <h2>Enercare</h2>
        <p>
          Collaborated with a team of developers to update and optimize the website, overseeing its migration 
          from Drupal CMS to WordPress. My primary responsibility involved translating legacy code into ReactJS 
          components that were fully compatible with PHP. Additionally, I proactively monitored site performance, 
          identifying and implementing opportunities for speed optimization.
        </p>
        <div class="lang-sec">
          <h3>Languages used:</h3>
          <span class="blurb-lang">
            HTML, CSS/SASS, JAVASCRIPT/REACT, PHP, WORDPRESS
          </span>
        </div>
      </div>
    </div>
    <div class="project-showcase">
      <img src="img/alaskatourjobs.webp" class="project-desktop" role="presentation" alt="">
      <div class="project-blurb">
        <h2>Alaska Tour Jobs</h2>
        <p>
          As the lead front-end developer for this website, I implemented updates to WordPress/PHP templates, 
          including the creation of new templates, components, and additional features. I also enhanced the 
          WordPress dashboard to improve the client experience for backend users. In addition, I conducted a comprehensive 
          analysis of site performance, identifying and documenting optimization opportunities to improve speed and overall efficiency.
        </p>
        <div class="lang-sec">
          <h3>Languages used:</h3>
          <span class="blurb-lang">
            HTML, CSS/SASS, JAVASCRIPT, PHP, WORDPRESS
          </span>
        </div>
      </div>
    </div>
  </div>
</div>