html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    background:url('../img/ubuntu.jpeg') no-repeat center center fixed; 
    background-size:cover; 
    height: 100vh; 
    width:100vw; 
    overflow: none;
}

body {
    color: white;
}

h6 {
    font-family: 'Roboto Mono', monospace;    
}

h3,
.title {
    font-family: 'Dosis', sans-serif;    
}

.false-nav {
    height: 1em;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
}

ul .real-nav {
    border-right: 1px solid white;
}

.real-nav {
    background-color: #3e0839;
    position: fixed;
    top: 0;
    padding-top: 1em;
    height: 100%;
    width: 4em;
    z-index: 99;
    border-right: 1px solid rgba(255, 255, 255, .2);
}

.mini-nav {
    background-color: rgba(62, 8, 57, .9) !important;
}

.menu-bar {
    justify-content: center;
}

.contact-icon {
    width: 1.5em;
    height: 1.5em;
    margin-left: .5em;
}


ul li {
    margin-bottom: .5em;
}

.item {
    height: 70%;
    width: 70%;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .1);
    margin-bottom: .5em;
}

.contact-item:hover,
.navhov:hover {
    background-color: rgba(255, 255, 255, .4);
}

.contact-rect {
    background-color: rgba(255, 255, 255, .4);
    height: 4em;
    justify-content: center;
    border-bottom: 1px solid black;
}

.contact-rect:hover {
    background-color: white;
    color: black !important;
}

#enter {
    animation-duration: 4s;
    animation-delay: 9s;
  }

.enter-btn {
    animation-duration: 5s;
    animation-delay: 11s;
}

.home-box {
    margin-top: 30%;
    padding-bottom: .7em;
}

.about-container,
.home-box {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

/*ABOUT SECTION */

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    margin: 3em auto;
    padding: 2em;
}

.profile-container,
.skills-container {
    width: 50%;
    padding: 2em;
}

.profile-container {
    margin: 4em 0;
}

.profile-img-container {
    margin: 0 auto;
    width: 50%;
}

.profile-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-info {
    text-align: center;
}

.skills-header {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
}

.skills-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
}

.skills-list ul li {
    height: 50px;
    background-color: rgb(115, 115, 115);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: .5em;
    padding: .25em;
    width: 50%;
}

li .icon-container {
    height: 100%;
    margin: 0 1em;
    padding: .2em 0;
    width: 13%;
}

li .php-icon {
    padding: .6em 0;
}

.skills-item {
    width: 100%;
    height: auto;
    filter: grayscale(100%) brightness(0);
}

.contact-list {
    margin-top: 2em;
}

.carousel {
    height: 15em !important;
}

.carousel .carousel-item {
    width: 5em !important;
    padding-top: 4em;
}

a.carousel-item {
    color: white;
}

.pad {
    margin-top: 5em;
}

.sublime {
    height: 100%;
    width: 100%;
}

.subl-file {
    font-size: 12px;
}

.marked {
    font-size: 10px;
    color: grey;
}

.sub-nav {
    text-align: left;
    padding-left: .3em;
    border-radius: 5px 5px 0 0;
}

.left-col {
    height: inherit;
}

.com-out {
    color: grey;
}

.resize {
    height: 10em;
}

.bee {
    background-repeat: no-repeat;
    height: 100%;
}

.title {
    font-size: 20px;
}

.desc {
    font-size: 13px;
}

.language {
    font-size: 12px;
}

a.web {
    color: white;
}

.contact-item {
    height: 70%;
    width: 70%;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
}

#main1 {
    position: absolute;
    width: 100%;
    height: 550px;
    top: 0;
    border-bottom: 2px solid white;
}

.type {
    padding-left: -50px;
    font-size: 20px text-align: center;
    transition-delay: 5s;
}

.typed-fade-out {
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    /* ABOUT SECTION */
    .about-container {
        flex-direction: column;   
    }

    .profile-container {
        margin: 0;
        width: 100%;
    }

    .profile-img-container {
        width: 100%;
    }

    .skills-container {
        width: 100%;
        padding: 0;
    }

    .skills-list ul {
        flex-direction: column;
        flex-wrap: nowrap;
        height: unset;
    }

    .skills-list ul li {
        width: 100%;
    }
}