html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
    color: white;
}

h3,
.title {
    font-family: 'Lobster', cursive;
}

.skill {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.false-nav {
    height: 1em;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
}

ul .real-nav {
    border-right: 1px solid white;
}

.real-nav {
    background-color: #3e0839;
    position: fixed;
    top: 0;
    padding-top: 1em;
    height: 100%;
    width: 4em;
    z-index: 99;
    border-right: 1px solid rgba(255, 255, 255, .2);
}

.mini-nav {
    background-color: rgba(62, 8, 57, .9) !important;
}

ul li {
    margin-bottom: .5em;
}

.item {
    height: 70%;
    width: 70%;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .1);
    margin-bottom: .5em;
}

.contact-item:hover,
.navhov:hover {
    background-color: rgba(255, 255, 255, .4);
}

.about-box {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.about-txt {
    text-align: center;
}

.about-pic,
.about-space {
    margin-bottom: 2em;
}

.about-pic {
    margin-top: .7em;
    padding: 1em;
}

.contact-list,
.about-space {
    margin-top: 2em;
}

.carousel {
    height: 15em !important;
}

.carousel .carousel-item {
    width: 5em !important;
    padding-top: 4em;
}

a.carousel-item {
    color: white;
}

.item-item {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
}

.pad {
    margin-top: 5em;
}

.sublime {
    height: 100%;
    width: 100%;
}

.subl-file {
    font-size: 12px;
}

.marked {
    font-size: 10px;
    color: grey;
}

.sub-nav {
    text-align: left;
    padding-left: .3em;
    border-radius: 5px 5px 0 0;
}

.left-col {
    height: inherit;
}

.com-out {
    color: grey;
}

.resize {
    height: 10em;
}

.bee {
    background-repeat: no-repeat;
    height: 100%;
}

.title {
    font-size: 20px;
}

.desc {
    font-size: 13px;
}

.language {
    font-size: 12px;
}

a.web {
    color: white;
}

.contact-item {
    height: 70%;
    width: 70%;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
}

#main1 {
    position: absolute;
    width: 100%;
    height: 550px;
    top: 0;
    border-bottom: 2px solid white;
}

.type {
    padding-left: -50px;
    font-size: 20px text-align: center;
    transition-delay: 5s;
}

.typed-fade-out {
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
